<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-backgroundhandlerplug" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BackgroundHandlerPlug</name>
    <js-module name="BackgroundHandlerPlug" src="www/BackgroundHandlerPlug.js">
        <clobbers target="BackgroundHandlerPlug" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="BackgroundHandlerPlug">
                <param name="ios-package" value="BackgroundHandlerPlug" />
            </feature>
        </config-file>
        <source-file src="src/ios/BackgroundHandlerPlug.m" />
    </platform>
</plugin>